.certs {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 10px;
}

#dp900, #awscp {
    flex: 1; 
    max-width: 45%; 
}

#dp900 > img, #awscp > img {
    width: 100%;
    height: auto;
}

a > img {
    width: 50%;
    height: 50%;
}