.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.projects > div {
    width: 100%;
 }
 .projects > img {
    height: 33%;
    width: 100%
 }
